<form [formGroup]="streamForm" (ngSubmit)="save(); $event.preventDefault();" autocomplete="off" novalidate>
	<div class="columns">
		<div class="column is-8">
			
			<div class="columns">
				<div class="column is-8-desktop">
					<p class="control">
						<figure class="image is-16by9">
							<img src="{{ stream.image }}" alt="Image">
						</figure>
						<a class="button is-primary is-flex-touch is-flex-tablet is-flex-desktop change-avatar">change image</a>
					</p>
				</div>
			</div>

			<label for="stream-title" class="label">Title</label>
			<p class="control has-icon has-icon-right">
				<input 
					id="stream-title" 
					class="input" 
					type="text" 
					placeholder="title" 
					formControlName="title"
					[class.is-danger]="!streamForm.controls.title.valid"
				>

				<span class="icon is-small" [class.is-hidden]="streamForm.controls.title.valid">
					<i class="fa fa-warning"></i>
				</span>
				<span class="help is-danger" [class.is-hidden]="streamForm.controls.title.valid">Title is required</span>
			</p>

			<label for="stream-description" class="label">Description</label>
			<p class="control has-icon has-icon-right">
				<textarea 
					id="stream-description" 
					class="textarea" 
					placeholder="Textarea" 
					formControlName="description"
					[class.is-danger]="!streamForm.controls.description.valid"
				></textarea>

				<span class="icon is-small" [class.is-hidden]="streamForm.controls.description.valid">
					<i class="fa fa-warning"></i>
				</span>
				<span class="help is-danger" [class.is-hidden]="streamForm.controls.description.valid">Description is required</span>
			</p>

			<div *ngIf="isModerator" class="control is-hidden-mobile is-grouped is-pulled-right">
				<p *ngIf="!stream.closed" class="control">
					<a (click)="closeStream.emit(stream.id);" class="button is-danger">Close stream</a>
				</p>
				<p *ngIf="stream.closed" class="control">
					<a (click)="openStream.emit(stream.id);" class="button is-success">Open stream</a>
				</p>
			</div>

			<div class="control is-hidden-mobile is-grouped">
				<p class="control">
					<button [disabled]="!streamForm.valid || streamSaveState.saveInProgress" [class.is-loading]="streamSaveState.saveInProgress" type="submit" class="button is-primary">Save</button>
				</p>
				<p class="control">
					<a [routerLink]="['/stream', stream.id]" class="button is-link">Cancel</a>
				</p>
			</div>

			<p class="control is-hidden-mobile">
				<span class="help is-danger" [class.is-hidden]="!streamSaveState.saveError">{{ streamSaveState.saveError }}</span>
			</p>
		</div>

		<div class="column">
			<stream-streamers [canEdit]="true" [streamers]="streamers"></stream-streamers>
			<stream-moderators [canEdit]="true" [moderators]="moderators"></stream-moderators>
		</div>
	</div>

	<div class="columns is-hidden-tablet">
		<div class="column is-8">

			<div *ngIf="isModerator" class="control is-grouped is-pulled-right">
				<p *ngIf="isModerator && !stream.closed" class="control">
					<a (click)="closeStream.emit(stream.id);" class="button is-danger">Close stream</a>
				</p>
				<p *ngIf="isModerator && stream.closed" class="control">
					<a (click)="openStream.emit(stream.id);" class="button is-success">Open stream</a>
				</p>
			</div>

			<div class="control is-grouped">
				<p class="control">
					<button [disabled]="!streamForm.valid || streamSaveState.saveInProgress" [class.is-loading]="streamSaveState.saveInProgress" type="submit" class="button is-primary">Save</button>
				</p>
				<p class="control">
					<a [routerLink]="['/stream', stream.id]" class="button is-link">Cancel</a>
				</p>
			</div>

			<p class="control">
				<span class="help is-danger" [class.is-hidden]="!streamSaveState.saveError">{{ streamSaveState.saveError }}</span>
			</p>

		</div>
	</div>
</form>