<aside class="menu">
	<p class="menu-label">
		General
	</p>
	<ul class="menu-list">
		<li><a routerLinkActive="is-active" routerLink="/profile" [routerLinkActiveOptions]="{ exact: true }">Profile</a></li>
		<li><a routerLinkActive="is-active" routerLink="/profile/streams">My streams</a></li>
		<li><a routerLinkActive="is-active" routerLink="/profile/subscriptions">My subscriptions</a></li>
		<li><a routerLinkActive="is-active" routerLink="/profile/friends">My friends</a></li>
	</ul>

	<p class="menu-label">
		Administration
	</p>
	<ul class="menu-list">
		<li><a routerLinkActive="is-active" routerLink="/profile/admin/users">Users</a></li>
		<li><a>Streams</a></li>
		<li>
			<a class="">Manage Your Team</a>
			<ul>
				<li><a>Members</a></li>
				<li><a>Plugins</a></li>
				<li><a>Add a member</a></li>
			</ul>
		</li>
		<li><a>Invitations</a></li>
		<li><a>Cloud Storage Environment Settings</a></li>
		<li><a>Authentication</a></li>
	</ul>
</aside>