<h1 class="title is-3">WebRTC development with Nixel</h1>
<div class="columns">
	<div class="column is-4-tablet">
		<figure class="image is-16by9">
			<img src="/img/halloween-shortbread.jpg">
		</figure>
		<a class="button is-primary is-flex-touch is-flex-tablet is-flex-desktop change-avatar">change image</a>
	</div>
	<div class="column is-8-tablet">
		<form>


			<label class="label">Title</label>
			<p class="control">
				<input class="input" type="text" placeholder="Title">
			</p>
			
			
			<label class="label">Description</label>
			<p class="control">
				<textarea class="textarea" placeholder="Stream description"></textarea>
			</p>


			<div class="control is-grouped">
				<p class="control">
					<button class="button is-primary">Save</button>
				</p>
				<p class="control">
					<button class="button is-link">Cancel</button>
				</p>
			</div>


		</form>
	</div>
</div>
