<div class="stream chat">
	<div class="messages">
		<p class="msg">
			<span class="u">Ivanov Ivan</span>: 
			<span class="t">Я думаю что печеньки надо печь по другому, истенно русскому рецепту, расскажу как-нибудь в своем блоке <a routerLink="/stream/4">https://showface.rkuzovlev.com/stream/4</a> :)</span>
		</p>
		<p class="msg">
			<span class="u">Звенислав Качарышкин</span>: 
			<span class="t">Обязательно прийду</span>
		</p>
		<p class="msg">
			<span class="u">Екатерина Ледянкина</span>: 
			<span class="t">Сколько нужно сахара в вашем рецепте?</span>
		</p>
		<p class="msg">
			<span class="u">Маргарита</span>: 
			<span class="t">Еще не сказали</span>
		</p>
		<p class="msg">
			<span class="u">Лена</span>: 
			<span class="t">Где можно посмотреть прошлые выпуски?</span>
		</p>
		<p class="msg">
			<span class="u">Федор</span>: 
			<span class="t">На ютуб канале, посмотрите в описании есть ссылки</span>
		</p>
		<p class="msg">
			<span class="u">Соколова</span>: 
			<span class="t">Привет всем</span>
		</p>
		<p class="msg">
			<span class="u">Соколова</span>: 
			<span class="t">:)</span>
		</p>
		<p class="msg">
			<span class="u">Ivanov Ivan</span>: 
			<span class="t">Я думаю что печеньки надо печь по другому, истенно русскому рецепту, расскажу как-нибудь в своем блоке <a routerLink="/stream/5">https://showface.rkuzovlev.com/stream/5</a> :)</span>
		</p>
		<p class="msg">
			<span class="u">Звенислав Качарышкин</span>: 
			<span class="t">Обязательно прийду</span>
		</p>
		<p class="msg">
			<span class="u">Екатерина Ледянкина</span>: 
			<span class="t">Сколько нужно сахара в вашем рецепте?</span>
		</p>
		<p class="msg">
			<span class="u">Маргарита</span>: 
			<span class="t">Еще не сказали <a routerLink="/stream/3">https://showface.rkuzovlev.com/stream/3</a></span>
		</p>
		<p class="msg">
			<span class="u">Лена</span>: 
			<span class="t">Где можно посмотреть прошлые выпуски? <a routerLink="/stream/333">https://showface.rkuzovlev.com/stream/333</a></span>
		</p>
		<p class="msg">
			<span class="u">Федор</span>: 
			<span class="t">На ютуб канале, посмотрите в описании есть ссылки</span>
		</p>
		<p class="msg">
			<span class="u">Соколова</span>: 
			<span class="t">Привет всем</span>
		</p>
		<p class="msg">
			<span class="u">Соколова</span>: 
			<span class="t">:)</span>
		</p>
	</div>
</div>