<section class="section">
	<div class="container">

		<div class="tile is-ancestor">
			<div class="tile is-parent is-vertical is-8">
				<div class="tile is-child">
					<div class="title is-3">
						<stream-title [title]="(stream | async).title"></stream-title>
					</div>

					<div class="webrtc video-container">
						<webrtc-video></webrtc-video>
					</div>
				</div>
				

				<div class="tile is-child">
					<webrtc-buttons></webrtc-buttons>
				</div>
			</div>
			
			<div class="tile is-ancestor stream chat-conteiner">
				<div class="tile is-parent is-vertical">
					<div class="tile is-child stream chat-conteiner">
						<stream-chat></stream-chat>
					</div>

					<div class="tile is-child stream write control">
						<stream-chat-new-message></stream-chat-new-message>
					</div>
				</div>
			</div>
		</div>


		<div class="columns">
			<div class="column comments is-8">
				<stream-comments></stream-comments>
			</div>

			<div class="column">
				<stream-streamers></stream-streamers>
				<stream-moderators></stream-moderators>
			</div>
		</div>

	</div>
</section>