<nav class="level is-mobile stream controls">
	<div class="level-item has-text-centered">
		<div class="btn is-active">
			<p class="heading">online</p>
			<span class="icon is-large">
				<i class="fa fa-power-off"></i>
			</span>
		</div>
	</div>
	
	<div class="level-item has-text-centered">
		<div class="btn">
			<p class="heading">muted</p>
			<span class="icon is-large">
				<i class="fa fa-microphone-slash !fa-microphone"></i>
			</span>
		</div>
	</div>
	
	<div class="level-item has-text-centered">
		<div class="btn">
			<p class="heading">camera</p>
			<span class="icon is-large">
				<i class="fa fa-video-camera"></i>
			</span>
		</div>
	</div>
	
	<div class="level-item has-text-centered">
		<div class="btn">
			<p class="heading">screen</p>
			<span class="icon is-large">
				<i class="fa fa-desktop"></i>
			</span>
		</div>
	</div>
</nav>
