<h1 class="title is-3">My friends</h1>

<div class="columns is-multiline">	

	<div class="column is-4">
		<div class="media">
			<div class="media-left">
				<figure class="image" style="height: 45px; width: 45px;">
					<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4"><a href="/profile/123">John Smith</a></p>
				<p class="subtitle is-6">Web Developer</p>
			</div>
		</div>
	</div>

	<div class="column is-4">
		<div class="media">
			<div class="media-left">
				<figure class="image" style="height: 45px; width: 45px;">
					<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4"><a href="/profile/123">Маргарита Петрович Хнычь</a></p>
				<p class="subtitle is-6">Кулинар по жизни</p>
			</div>
		</div>
	</div>

	<div class="column is-4">
		<div class="media">
			<div class="media-left">
				<figure class="image" style="height: 45px; width: 45px;">
					<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4"><a href="/profile/123">Хой</a></p>
				<p class="subtitle is-6">Музыка</p>
			</div>
		</div>
	</div>

	<div class="column is-4">
		<div class="media">
			<div class="media-left">
				<figure class="image" style="height: 45px; width: 45px;">
					<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4"><a href="/profile/123">Информация скрыта</a></p>
				<p class="subtitle is-6">Журналист</p>
			</div>
		</div>
	</div>

	<div class="column is-4">
		<div class="media">
			<div class="media-left">
				<figure class="image" style="height: 45px; width: 45px;">
					<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4"><a href="/profile/123">Алексей Навальный</a></p>
				<p class="subtitle is-6">Путешествия</p>
			</div>
		</div>
	</div>
	

</div>
