<h2 class="title is-4">Comments</h2>

<section class="section comments-container">
	<article class="media">
		<figure class="media-left">
			<p class="image is-64x64">
				<img src="http://bulma.io/images/placeholders/128x128.png">
			</p>
		</figure>
		<div class="media-content">
			<div class="content">
				<strong>Маргарита</strong> <small>31m</small><br>
				Хороший стрим, и печеньки хорошие :)
			</div>
		</div>
	</article>

	<article class="media">
		<figure class="media-left">
			<p class="image is-64x64">
				<img src="http://bulma.io/images/placeholders/128x128.png">
			</p>
		</figure>
		<div class="media-content">
			<div class="content">
				<strong>Федор</strong> <small>21:15 PM - 2 Jan 2017</small><br>
				Обязательно подпишусь
			</div>
		</div>
	</article>

	<article class="media">
		<figure class="media-left">
			<p class="image is-64x64">
				<img src="http://bulma.io/images/placeholders/128x128.png">
			</p>
		</figure>
		<div class="media-content">
			<div class="content">
				<strong>Екатерина Ледянкина</strong> <small>11:09 PM - 1 Jan 2017</small><br>
				Посмотрела несколько эпизодов и очень заинтересовалась каналом, обязательно прийду еще.<br/>
				Конечно же подпишусь чтобы не пропустить новые рецепты.<br/>
				Кстати попробовала сделать те печеньки, получилось очень вкусно.<br/>
				Большое cпасибо Вам Маргарита Петрович за то что вы делаете такие замечательные стримы<br/>
			</div>
		</div>
	</article>

	<article class="media">
		<figure class="media-left">
			<p class="image is-64x64">
				<img src="http://bulma.io/images/placeholders/128x128.png">
			</p>
		</figure>
		<div class="media-content">
			<p class="control">
				<textarea class="textarea" placeholder="Add a comment..."></textarea>
			</p>
			<nav class="level">
				<div class="level-left">
					<div class="level-item">
						<a class="button is-info">Post comment</a>
					</div>
				</div>
			</nav>
		</div>
	</article>
</section>


<nav class="pagination is-centered">
	<a class="pagination-previous">Previous</a>
	<a class="pagination-next">Next page</a>
	<ul class="pagination-list">
		<li><a class="pagination-link">1</a></li>
		<li><span class="pagination-ellipsis">&hellip;</span></li>
		<li><a class="pagination-link">45</a></li>
		<li><a class="pagination-link is-current">46</a></li>
		<li><a class="pagination-link">47</a></li>
		<li><span class="pagination-ellipsis">&hellip;</span></li>
		<li><a class="pagination-link">86</a></li>
	</ul>
</nav>