<section class="section">
	<div class="container">
		<div class="columns is-multiline">
			

			<div class="column is-4">
				<div class="card">
					<div class="card-image">
						<a routerLink="/stream/123">
							<figure class="image is-16by9">
								<img src="/img/webrtc-tablet-laptop-mobile.png" alt="Image">
							</figure>
						</a>
					</div>
					<div class="card-content">
						<h4 class="title is-4">
							<a routerLink="/stream/123">How to develop WebRTC on node.js</a>
						</h4>

						<div class="media">
							<div class="media-left">
								<figure class="image" style="height: 40px; width: 40px;">
									<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4"><a routerLink="/profile/123">John Smith</a></p>
								<p class="subtitle is-6">Web Developer</p>
							</div>
						</div>

						<div class="content">
							Trying to do some WebRTC staff for connect people together<br>
							<small>11:09 PM - 1 Jan 2017</small>
						</div>
					</div>
				</div>
			</div>
			

			<div class="column is-4">
				<div class="card">
					<div class="card-image">
						<a routerLink="/stream/123">
							<figure class="image is-16by9">
								<img src="/img/halloween-shortbread.jpg" alt="Image">
							</figure>
						</a>
					</div>
					<div class="card-content">
						<h4 class="title is-4">
							<a routerLink="/stream/123">Вкусные овсяные печеньки, приготовленные в костре с угольками</a>
						</h4>

						<div class="media">
							<div class="media-left">
								<figure class="image" style="height: 40px; width: 40px;">
									<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4"><a routerLink="/profile/123">Маргарита Петрович Хнычь</a></p>
								<p class="subtitle is-6">Кулинар по жизни</p>
							</div>
						</div>

						<div class="content">
							Печем печеньньки пышные, пытаясь петь припевы, про пекаря плечистого.... <br>
							<small>11:09 PM - 1 Jan 2017</small>
						</div>
					</div>
				</div>
			</div>
			

			<div class="column is-4">
				<div class="card">
					<div class="card-image">
						<a routerLink="/stream/123">
							<figure class="image is-16by9">
								<img src="/img/coi.jpg" alt="Image">
							</figure>
						</a>
					</div>
					<div class="card-content">
						<h4 class="title is-4">
							<a routerLink="/stream/123">Группа крови на рукаве...</a>
						</h4>

						<div class="media">
							<div class="media-left">
								<figure class="image" style="height: 40px; width: 40px;">
									<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4"><a routerLink="/profile/123">Хой</a></p>
								<p class="subtitle is-6">Музыка</p>
							</div>
						</div>

						<div class="content">
							Ну вы поняли<br>
							<small>11:09 PM - 1 Jan 2017</small>
						</div>
					</div>
				</div>
			</div>
			

			<div class="column is-4">
				<div class="card">
					<div class="card-image">
						<a routerLink="/stream/123">
							<figure class="image is-16by9">
								<img src="/img/logo-telekanal-dozhd.png" alt="Image">
							</figure>
						</a>
					</div>
					<div class="card-content">
						<h4 class="title is-4">
							<a routerLink="/stream/123">Независимые новости</a>
						</h4>

						<div class="media">
							<div class="media-left">
								<figure class="image" style="height: 40px; width: 40px;">
									<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4"><a routerLink="/profile/123">Информация скрыта</a></p>
								<p class="subtitle is-6">Журналист</p>
							</div>
						</div>

						<div class="content">
							<small>11:09 PM - 1 Jan 2017</small>
						</div>
					</div>
				</div>
			</div>
			

			<div class="column is-4">
				<div class="card">
					<div class="card-image">
						<a routerLink="/stream/123">
							<figure class="image is-16by9">
								<img src="/img/navalnyy_zhir.jpg" alt="Image">
							</figure>
						</a>
					</div>
					<div class="card-content">
						<h4 class="title is-4">
							<a routerLink="/stream/123">Путешествуем и отдыхаем по России вместе</a>
						</h4>

						<div class="media">
							<div class="media-left">
								<figure class="image" style="height: 40px; width: 40px;">
									<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
								</figure>
							</div>
							<div class="media-content">
								<p class="title is-4"><a routerLink="/profile/123">Алексей Навальный</a></p>
								<p class="subtitle is-6">Путешествия</p>
							</div>
						</div>

						<div class="content">
							Ну что поделать, и в тайланде побываем, когда отпустят :(<br>
							<small>11:09 PM - 1 Jan 2017</small>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</section>